<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1> Create Report </h1>
    <%= form_for @report, remote: true do |f| %>
      <div class="form-group">
        <%= f.text_field :description, placeholder: "Write Content Report", class: "form-control" %>
      </div>
      <%= f.submit :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
